$black: #000000;
$white: #ffffff;
$teal-blue: #139bc5;
$grey: #e6e6e6;
$orange: #ee5445;
$dark-green: #005a5a;
$light-green: #00a998;

@import url(https://fonts.googleapis.com/css?family=Montserrat);
$montserrat: Montserrat, sans-serif;
$helvetica: helvetica, arial, sans-serif;