html {
    font-family: $montserrat;
}

.header-background {
    background-color: rgba(255, 255, 255, 0.7);
    height: 11em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.icon-icons-ocean-conservany-07 {
    text-decoration: none;
    font-size: 11em;
    display: inline-block;
    color: $teal-blue;
}

.nav {
    list-style-type: none;
    text-align: right;
    position: absolute;
    right: 0em;
    top: 0em;
    margin-top: 2.5em;
    margin-right: 1.75em;
}

.nav li {
    font-family: $montserrat;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-decoration: none;
    padding-top: 1em;
    padding-right: 2.5em;
    margin: 0 auto;
    font-size: .6em;
}

.nav a,
.nav a:link,
.nav a:visited {
  color: $black;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {

  color: $grey;
} 

.donate-button a,
.donate-button a:link,
.donate-button a:visited {
  color: $orange;
  text-decoration: none;
}

.donate-button a:hover,
.donate-button a:focus,
.donate-button a:active,
.donate-button .nav-current,
.donate-button .nav-current:link,
.donate-button .nav-current:visited {

  color: $grey;
} 

.homepage-billboard {
    position: absolute;
    background-image: url("../images/ocean-photo-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40em;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.solutions-billboard {
    position: absolute;
    background-image: url("../images/ocean-photo-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40em;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.visions-billboard {
    position: absolute;
    background-image: url("../images/ocean-photo-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40em;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.action-billboard {
    position: absolute;
    background-image: url("../images/ocean-photo-5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40em;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.donate-billboard {
    position: absolute;
    background-image: url("../images/ocean-photo-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40em;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.billboard-text {
    font-size: 2em;
    padding-top: 10em;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.billboard-subtext {
    font-size: .75em;
    margin-left: 1em;
    margin-right: 1em;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.social-media-icons {
    font-size: 3em;
    text-align: center;
    margin-top: .5em;
    color: $white;
}

.footer-background {
    background-color: $dark-green;
    position: absolute;
    overflow: hidden;
    clear: both;
    left: 0;
    width: 100%;
}

.copyright-p1 {
    color: $white;
    font-size: .6em;
    text-align: center;
    margin-right: 2em;
    margin-left: 2em;
}

.copyright-p2 {
    color: $white;
    font-size: .6em;
    text-align: center;
    margin-right: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
}

.about-h2 {
    color: $light-green;
    font-size: 2.25em;
    text-transform: uppercase;
    text-align: center;
}

.about {
    padding-top: 10em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding-bottom: 5em;
}

.p {
    font-family: $quicksand;
    text-align: center;
    padding-bottom: 2em;
}

.titles-main { 
    padding-top: 13em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding-bottom: 3em;
}

.titles {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.h2-titles {
    color: $light-green;
    font-size: 1.75em;
    text-transform: uppercase;
    text-align: center;
}

button {
    font-size: 1em;
    border: 3px solid $light-green;
    background-color: white;
    font-family: $montserrat;
    color: $orange;
    font-weight: bold;
    border-radius: 16px;
    padding: 0.5em 0.75em;
    align-content: center;
}

button:hover {
    background-color: $light-green;
    cursor: pointer;
    color: #fff;
}

button:active {
    background-color: $orange;
}

input[type="email"] {
    border: 1px solid #000;
    border-radius: 3px;
    font-size: 1.125em;
    font-family: serif;
    padding: 0.5em;
    max-width: 15rem;
}

input[type="name"] {
    border: 1px solid #000;
    border-radius: 3px;
    font-size: 1.125em;
    font-family: serif;
    padding: 0.5em;
    max-width: 15rem;
}

input[type="tel"] {
    border: 1px solid #000;
    border-radius: 3px;
    font-size: 1.125em;
    font-family: serif;
    padding: 0.5em;
    max-width: 15rem;
}

input[type="email"]:focus {
   outline: 3px solid $orange;
    background-color: #fff;
}

.send {
    text-decoration: none;
}

@media only screen and (max-width: 48em) {
    
    .h1-oc {
        display: none;
    }
}

@media only screen and (max-width: 72em) {
    
    .h1-oc {
        display: none;
    }
}

@media only screen and (min-width: 48em) /* TABLET */ {
  
    .homepage-billboard {
        height: 45em;
    }
    
    .solutions-billboard {
        height: 45em;
    }
    
    .visions-billboard {
        height: 45em;
    }
    
    .action-billboard {
        height: 45em;
    }
    
    .donate-billboard {
        height: 45em;
    }
    
    .about {
        padding-top: 14em;
        margin-left: 5em;
        margin-right: 5em;
    }
    
    .titles-main { 
        padding-top: 14em;
        margin-left: 3.5em;
        margin-right: 3.5em;
        padding-bottom: 3em;
    }
    
    .billboard-text {
        font-size: 2.75em;
        padding-top: 8em;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .2em;
    }

    .billboard-subtext {
        font-size: .75em;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .2em;
    }

}

@media only screen and (min-width: 72em) /* DESKTOP */ {
    
    .header-background {
        max-height: 15em;
    } 
    
    .homepage-billboard {
        height: 100vh;
    }
    
    .solutions-billboard {
        height: 100vh;
    }
    
    .visions-billboard {
        height: 100vh;
    }
    
    .action-billboard {
        height: 100vh;
    }
    
    .donate-billboard {
        height: 100vh;
    }
    
    .h1-oc {
        font-family: $montserrat;
        color: $teal-blue;
        font-size: 1.75em;
        top: 0;
        margin-top: 2.25em;
        margin-left: 5em;
        position: absolute;
    } 
    
    .nav {
        display: flex;
        padding-top: 1.75em;
        text-align: center;
    }
    
    .nav li {
        font-size: .7em;
        padding-left: 3em;
    }
    
    .billboard-text {
        font-size: 4.25em;
        padding-top: 4.75em;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .2em;
    }

    .billboard-subtext {
        font-size: 1em;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .2em;
    }
    
    .about {
        padding-top: 13em;
        margin-left: 20em;
        margin-right: 20em;
    }
    
    .titles-main {
        padding-top: 13em;
        margin-left: 20em;
        margin-right: 20em;
        padding-bottom: 3em;
    }
}

