<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>Ocean Conservancy</title>
    <link href="https://file.myfontastic.com/tnLXcbBqZWRm7CKy3MioxJ/icons.css" rel="stylesheet">
    <meta name="handheldfriendly" content="true">
    <meta name="mobileoptimized" content="240">
    <meta name="viewport" content="width=device-width; initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>
    
<body> 
    <div class="header-background">
        <a href="index.html" id="up">
            <i class="icon-icons-ocean-conservany-07" alt="ocean conservancy logo"></i>
            <h1 class="h1-oc">Ocean Conservancy</h1>
        </a>

        <nav id="nav" role="navigation">
            <ul class="nav">
                <li class="nav-item"><a href="#">Our Solutions</a></li>
                <li class="nav-item"><a href="#">Take Action</a></li>
                <li class="nav-item"><a href="#">Our Vision</a></li>
                <li class="nav-item donate-button"><a href="#">Donate</a></li>
            </ul>
        </nav> 
    </div>
    
    <header class="homepage-billboard" id="top"></header>
</body>
    
    <footer class="footer-background">
        <div class="social-media-icons">
            <i class="icon-icons-ocean-conservany-05" alt="facebook"></i>
            <i class="icon-icons-ocean-conservany-03" alt="twitter"></i>
            <i class="icon-icons-ocean-conservany-04" alt="instagram"></i>
            <i class="icon-icons-ocean-conservany-02" alt="youtube"></i>
            <i class="icon-icons-ocean-conservany-01" alt="google plus"></i>
        </div>
        <p class="copyright-p1">Copyright 2016 Ocean Conservancy · Ocean Conservancy, International Coastal Clean Up, Ocean Action Network, Trash Free Seas, Trash Free Seas Alliance and Rippl and Rippl are registered trademarks of Ocean Conservancy.</p>
        <p class="copyright-p2">Ocean Conservancy is a 501(c)3 – Donations are 100% tax-deductible as allowed by law. · membership@oceanconservancy.org · 800-519-1541</p>
    </footer>
    
    {{content}}
    
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/1.4.0/jquery.localScroll.min.js"></script>